<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/product_listdiv.css' %}">

</head>
<body>
  <h1>Products</h1>
    <!-- <table class="table">
        
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Stock</th>
            <th class="detail">Product Details</th>
            

        
        {%for product in products %}

        <tr>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td><img  src="{{product.image.url}}"  class="image" alt="image"></td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td class="details"><a href="{% url 'product_details_view' id=product.id %}"> View product details</a></td>
            
        </tr>
        {% endfor %}
    </table> -->

    <div class="products-container">
        {%for product in products%}
        <div class="products">

          <img src="{{ product.image.url }}" />
          <h2 class="name">{{product.title}}</h2>
          <h2>{{product.decription}}</h2>
          <h3>Price: {{product.price}}</h3>
          <h3>Stock: {{product.stock}}</h3>
          <a href = "{% url 'product_details_view' id=product.id%}"><button>View Details</button></a> 

        </div>
        {%endfor%}
      </div>
    
</body>
</html> 