<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
</head>
<body>

<div class="description">
    <div class="detail">
    
    <h4>{{products.title}}</h4>

    <img src="{{  products.image.url }}" alt="{{product.title}}"/>
    <p>{{products.description}} </p>
    <span>Price:  {{products.price}}</span><a href="/template/inventory/cart.html"></a>
    <a href="{% url 'cart_list_view' %}"><button>Add to cart</button></a>
    </div>

    </div>


</body>
</html>