<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
</head>
<body>
    <h3>Customer</h3>
    <table class="table">
        
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th class="detail">Location</th>
            <th>User</th>
         

        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.phone_Number}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.location}}</td>
            <td>{{customer.user}}</td>
        </tr>
     
        
    </table>
</body>
</html>