<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/products_list.css' %}">

</head>
<body>
  <h3>Orders</h3>
    <table class="table">
        
        <th>Customer</th>
        <th>Cart</th>
        <th>Product</th>
        <th class="detail">Order Number</th>
        <th>Order Total</th>
        <th>Order Date</th>
        <th>Delivery Method</th>
        <th>Shipment</th>
        <th>Delivery date</th>
        <th>Payment</th>
        <th>Details</th>
        <th>Edit</th>

        
        {% for order in orders %}

        <tr>
            <td>{{order.customer}}</td>
            <td>{{order.cart}}</td>
            <td>{{order.product}}</td>
            <td>{{order.order_number}}</td>
            <td>{{order.order_total}}</td>
            <td>{{order.order_date}}</td>
            <td>{{order.delivery_method}}</td>
            <td>{{order.shipment}}</td>
            <td>{{order.delivery_date}}</td>
            <td>{{order.payment}}</td>
            <td class="details"><a href="{% url 'order_details_view' id=order.id %}"> View order details</a></td>
            <td><a href="{%url 'edit_order_view' id=order.id %}"><button> EDIT</button></a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>