<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static%}
    <link rel="stylesheet" href="{% static 'css/products_detail.css' %}">
</head>
<body>
    <h3>Payment</h3>
    <table class="table">
        
        <th>Payment Method</th>
        <th>Amount</th>
        <th>Payment Time</th>
        <th class="detail">Payment Date</th>
        <th>Receipt Number</th>
        <th>Status</th>
        <th>Reference Number</th>
        <th>Products</th>
        <th>Refunds</th>
         

        <tr>
            <td>{{payment.payment_method}}</td>
            <td>{{payment.amount}}</td>
            <td>{{payment.payment_time}}</td>
            <td>{{payment.payment_date}}</td>
            <td>{{payment.receipt_number}}</td>
            <td>{{payment.status}}</td>
            <td>{{payment.reference_number}}</td>
            <td>{{payment.products}}</td>
            <td>{{payment.refunds}}</td>
           
        </tr>
     
        
    </table>
</body>
</html>